{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Vous êtes connecté : {{ app.user.username }} / <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
	<div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h3 font-weight-normal">Connexion</h1>
                <div>
                    <div>
                        <table class="table table-responsive ">
                            <tr>
                                <td><label for="inputUsername">User</label></td>
                                <td><input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus></td>
                            </tr>
                            <tr>
                                <td><label for="inputPassword">Mots de passe</label></td>
                                <td><input type="password" name="password" id="inputPassword" class="form-control" required></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
