{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Nom d\'utilisateur'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe (min 6 charactère)'
        }) }}

        <button type="submit" class="btn">inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
