{% extends 'base.html.twig' %}
{% block title %} Ajouter un article{% endblock %}

{% block body %}
	{% if app.user %}
        <div style="position:absolute;left:1vw;top:1vh;">
            Vous êtes connecté : {{ app.user.username }} / <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}	
	<div style="position:absolute;left:1vw;top:3vh;">
		<a href="{{ path('list.blog') }}"  class="btn btn-secondary">Retourner au blog</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="card my-5">
					<div class="card-body">
						<h1>Modifier un Article</h1>
						<br>
						<table class="table text-center">
							{{ form_start(form) }}
								<tr class="col-12">
									<td>
										{{ form_label(form.titre) }}
									</td>
									<td>
										{{ form_widget(form.titre) }}
									</td>
									<td>
										{{ form_label(form.auteur) }}
									</td>
									<td>
										{{ form_widget(form.auteur) }}
									</td>
								</tr>							
								<tr class="col-12">
									<td class="col-3">
										{{ form_label(form.date) }}
									</td>
									<td class="col-3" style="text-align:start">
										{{ form_widget(form.date) }}
									</td>
									<td class="col-3">
										{{ form_label(form.imageFile) }}
									</td>
									<td class="col-3">
										{{ form_widget(form.imageFile) }}
									</td>
								</tr>
								<tr class="col-12">
									<td >
										{{ form_label(form.contenu) }}
									</td>
									<td colspan="3" >
										{{ form_widget(form.contenu) }}
									</td>
								</tr>
								<tr class="col-12">
									<td colspan="4"><button type="submit" class="btn btn-primary">Valider</button></td>
								</tr>
							{{ form_end(form) }}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}