{% extends 'base.html.twig' %}
{% block title %}Article - {{ article.titre }}{% endblock %}

{% block body %}
	{% if app.user %}
        <div style="position:absolute;left:5px;">
            Vous êtes connecté : {{ app.user.username }} / <a href="{{ path('app_logout') }}">Logout</a>
        </div>
	{% else %}
		<div style="position:absolute;left:1vw;;top:1vh;">
			<a href="{{ path('connexion') }}" class="btn btn-secondary">Connexion</a>
        </div>		
		<div style="position:absolute;left:6vw;top:1vh;">
			<a href="{{ path('inscription') }}" class="btn btn-secondary">Création de compte</a>
        </div>
    {% endif %}	
		<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<a class="col-6" href="{{ path('list.blog') }}" class="btn btn-primary">Retourner au blog</a>
				<div class="card my-5">
					<div class="card-body">
						<div  class="col-12 text-center">
							<h1>{{ article.titre }}</h1>
							<div  class="col-12">
								<span class="col-6"> {{ article.auteur }}</span>
								<span class="col-6"> {{ article.date|date("d/m/Y") }}</span>
							</div>
						</div>
						<br>
						<div>
							<img width="50%" src="{{ vich_uploader_asset(article, 'imageFile') }}" />		
						</div>
						<br>
						<div>
							<p> {{ article.contenu }}<p/>		
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}