{% extends 'base.html.twig' %}
{% block title %}BestBlog{% endblock %}

{% block body %}
	{% if app.user %}
        <div style="position:absolute;left:5px;">
            Vous êtes connecté : {{ app.user.username }} / <a href="{{ path('app_logout') }}">Logout</a>
        </div>
	{% else %}
		<div style="position:absolute;left:1vw;top:1vh;">
			<a href="{{ path('connexion') }}" class="btn btn-secondary">Connexion</a>
        </div>		
		<div style="position:absolute;left:6vw;top:1vh;">
			<a href="{{ path('inscription') }}" class="btn btn-secondary">Création de compte</a>
        </div>
    {% endif %}	
	<div style="position:absolute;left:13vw;top:1vh;">
		<a href="{{ path('add.article') }}" class="btn btn-primary">Ajouter un article</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">BestBlog</h1>
				<p class="text-center">Bienvenue sur le meilleur blog.<br>Vous pouvez y retrouver des articles dans tous genre.<br>Vous avez la posibilité d'ajouter des articles, mais pour les gérer vous devrais être connecté.</p>
				<div class="card my-5">
					<div class="card-body">
						<h3>Les Articles :</h3>
						<table class="table table-responsive  text-center">
							{% for article in articles %}
							<tr>
								<td class="col-1"><a href="{{ path('article.blog', {id: article.id}) }}"><img width="50px" src="{{ vich_uploader_asset(article, 'imageFile') }}" /></a></td>
								<td class="col-1"><a href="{{ path('article.blog', {id: article.id}) }}">{{ article.titre  }}</a></td>
								<td class="col-1"><span>{{ article.auteur }}</span></td>
								<td class="col-12"><p>{{ article.contenu|length > 150 ? article.contenu|slice(0, 150) ~ '...' : article.contenu  }}</p></td>
	
								{% if app.user %}
									<td class="col-1"><a href="{{ path('edit.article', {id: article.id}) }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a></td>
									<td class="col-1">
										<form action="{{ path('delete.article', {id: article.id}) }}" method="POST">
											<input type="hidden" name="_method" value="DELETE"/>
											<input type="hidden" name="_token" value="{{ csrf_token('delete-item') }}"/>
											<button  class="btn btn-danger" type=""><i class="fas fa-trash-alt"></i></button>
										</from>
									</td>
								{% else %}
									<td class="col-1"><a href="{{ path('article.blog', {id: article.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>
								{% endif %}	
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}